/*
  Parfait - browser.css
  https://github.com/reizumii/parfait
*/

/* window: background */
:root:not([lwtheme]) {
  #browser:not(.browser-toolbox-background) {
    --toolbar-bgcolor: var(--toolbox-bgcolor);

    &:-moz-window-inactive {
      --toolbar-bgcolor: var(--toolbox-bgcolor-inactive);
    }
  }
  @media -moz-pref("parfait.bg.transparent") {
    --toolbox-bgcolor: var(--pf-browser-bgcolor-transparent) !important;
  }
  @media -moz-pref("parfait.bg.accent-color") {
    --toolbox-bgcolor: color-mix(in oklab, transparent, var(--pf-browser-bgcolor) var(--pf-browser-opacity)) !important;
    --toolbox-bgcolor-inactive: color-mix(in oklab, var(--pf-browser-bgcolor), var(--color-gray-50) 30%) !important;
    --tabpanel-background-color: color-mix(in oklab, var(--pf-browser-bgcolor), light-dark(#fff, #000)) !important;
    --pf-sidebar-bgcolor: var(--pf-browser-bgcolor);

    @media -moz-pref("parfait.bg.gradient") {
      --pf-bg-gradient-fade: color-mix(in oklab, var(--pf-browser-bgcolor), var(--pf-browser-bgcolor-mix) 50%);
      --pf-bg-gradient-1: color-mix(in oklab, transparent, var(--pf-bg-gradient-fade) var(--pf-browser-opacity));
      --pf-bg-gradient-2: color-mix(in oklab, transparent, var(--pf-browser-bgcolor) var(--pf-browser-opacity));
      --toolbox-bgcolor: linear-gradient(var(--pf-bg-gradient-1), var(--pf-bg-gradient-2)) !important;

      .browser-toolbox-background {
        background: var(--pf-bg-gradient-1) !important;
      }
      #browser {
        background: var(--toolbox-bgcolor) !important;
      }
    }
    /* expand on hover */
    &[sidebar-expand-on-hover] #sidebar-main:is([sidebar-launcher-expanded], [sidebar-ongoing-animations]) {
      background: var(--toolbox-bgcolor) !important;
    }
  }
  @media (-moz-platform: macos) and (not (prefers-reduced-transparency)) {
    appearance: -moz-sidebar !important;
  }
}

/* lwt theming */
:root[lwtheme] {
  --pf-text-color: var(--lwt-text-color);
  --pf-icon-color: var(--toolbarbutton-icon-fill);
  --pf-sidebar-bgcolor: var(--toolbox-bgcolor);
  --pf-split-border-color: var(--lwt-tab-line-color, var(--pf-accent-color));
  --focus-outline-color: var(--toolbar-field-focus-border-color) !important;

  .browser-toolbox-background {
    background-color: var(--lwt-accent-color);
  }
  &[sidebar-expand-on-hover] #sidebar-main {
    background: var(--toolbox-bgcolor) !important;
  }
  #navigator-toolbox[tabs-hidden]::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(transparent 75%, var(--toolbox-bgcolor));
  }
  #navigator-toolbox:not([tabs-hidden]) + #browser {
    background-image: none !important;
  }
  /* alt lwt theming: only works for select themes! */
  @media -moz-pref("sidebar.verticalTabs") and -moz-pref("parfait.theme.lwt.alt") {
    background: var(--lwt-additional-images), var(--lwt-accent-color) !important;
    background-repeat: var(--lwt-background-tiling) !important;
    background-position: var(--lwt-background-alignment) !important;

    #navigator-toolbox {
      background-image: none !important;
    }
    .browser-toolbox-background,
    #navigator-toolbox::before {
      background: transparent !important;
    }
    /* floating sidebar */
    @media -moz-pref("sidebar.visibility", "hide-sidebar") {
      #sidebar-main:not([sidebar-launcher-expanded]) {
        background: var(--lwt-additional-images), var(--lwt-accent-color) !important;
        background-repeat: var(--lwt-background-tiling) !important;
        background-position: var(--lwt-background-alignment) !important;
      }
    }
  }
}

/* separation */
:root:not([inDOMFullscreen], [chromehidden~="toolbar"], [taskbartab]) {
  #tabbrowser-tabbox {
    margin-inline-end: var(--pf-browser-separation) !important;
    margin-bottom: var(--pf-browser-separation) !important;

    @media not -moz-pref("sidebar.visibility", "expand-on-hover") {
      margin-inline: 0 var(--pf-browser-separation) !important;
    }
    @media not -moz-pref("sidebar.verticalTabs") {
      &:not([sidebar-shown]) {
        margin-inline: var(--pf-browser-separation) !important;
      }
    }
    @media -moz-pref("parfait.window.borderless") {
      --chrome-content-separator-color: var(--pf-toolbar-bgcolor);
      --content-area-shadow: none;
      --pf-browser-radius: 0;
      --pf-browser-separation: 0px;
    }
    @media -moz-pref("parfait.blur.enabled") {
      browser:not(.devtools-toolbox-bottom-iframe, .devtools-toolbox-side-iframe) { clip-path: inset(0 round 0.01px); }
    }
  }
  .browserContainer {
    border-radius: var(--pf-browser-radius) !important;
    overflow: clip;
    -moz-window-dragging: no-drag;
  }
  /* split view */
  #tabbrowser-tabpanels[splitview] {
    .split-view-splitter {
      background-color: transparent !important;
      border: none !important;
      min-width: var(--pf-split-resize-padding) !important;
    }
    .split-view-panel {
      margin: 0 !important;
      overflow: unset !important;

      &[column="1"]::after {
        content: "";
        width: 2px;
        height: 96px;
        background-color: var(--pf-split-indicator-bg, transparent);
        border-radius: 4px;
        position: absolute;
        left: calc(-1px - (var(--pf-split-resize-padding) / 2));
        top: calc(50% - (96px / 2));
        pointer-events: none;
        transition: background-color var(--pf-ts-15);
      }
      &:not(.deck-selected) > .browserContainer { outline: none !important; }
      &.deck-selected > .browserContainer { outline-color: var(--pf-split-border-color, var(--pf-accent-color)) !important; }
    }
    &:has(.split-view-splitter:hover) {
      --pf-split-indicator-bg: light-dark(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.175));
    }
    split-view-footer { display: none !important; }
  }
  @media -moz-pref("parfait.toolbar.unified-sidebar") and -moz-pref("parfait.window.borderless") {
    #navigator-toolbox[tabs-hidden] > #nav-bar::before {
      content: "";
      width: calc(100% - var(--pf-sidebar-width));
      height: var(--pf-browser-separation);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 3;
    }
  }
}

/* customize menu */
#customization-panel-container {
  padding-top: var(--pf-separation) !important;
  padding-right: var(--pf-separation) !important;
}
.panel-arrowbox {
  display: none !important;
}
.panel-arrowcontent {
  border-radius: var(--pf-border-radius-sm) !important;
  box-shadow: var(--pf-shadow-md) !important;
}
